@charset "UTF-8";

@include grid-media-min('md') {
  .su-site-search {
    display: none;
  }

  .su-multi-menu {
    display: flex;

    .menu-search-link {
      margin-left: 3.6rem;
      align-self: center;

      i {
        color: $thub-color-ochre-light;

        &:hover,
        &:focus,
        &:active {
          color: $su-color-white;
        }
      }
    }
  }
}

@include grid-media-max('md') {
  .menu-search-link {
    display: none;
  }
}

// Search node page
.page-search {
  .block-taiwan-hub-subtheme-search-form {
    @include centered-column;
    @include responsive-spacing('margin-bottom', 2);
  }

  .search.results {
    .su-list-unstyled>li {
      @include responsive-spacing('margin-bottom', 3);
      @include responsive-spacing('padding-bottom', 2);

      border-bottom: 1px solid $su-color-black;

      &:last-of-type {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }
}
