@charset "UTF-8";

@include grid-media-min('md') {
  .su-site-search {
    display: none;
  }

  .su-multi-menu {
    display: flex;

    .menu-search-link {
      margin-left: 3.6rem;
      align-self: center;

      i {
        color: $thub-color-ochre-light;

        &:hover,
        &:focus,
        &:active {
          color: $su-color-white;
        }
      }
    }
  }
}

@include grid-media-max('md') {
  .menu-search-link {
    display: none;
  }
}
