@charset "UTF-8";

// Define button mixins here

@mixin thub-button--gradient {
  background-color: $su-color-white;
  color: $su-color-black;
  display: inline-block;
  position: relative;
  z-index: 0;
  border-radius: 6px;
  font-weight: 600;

  &::before {
    content: "";
    background: $thub-gradient-lagunita-to-ochre-to-red;
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 2px;
    border-radius: 6px;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &:hover,
  &:focus,
  &:active {
    background: $thub-gradient-lagunita-to-ochre-to-red;
    background-color: $thub-color-ochre-dark;
    border-radius: 6px;
    color: $su-color-white;
    transition: background-color .5s ease;
    text-decoration: none;
  }
}

@mixin thub-button {
  @include thub-button--gradient;

  padding: 1rem 3rem 1.2rem 3rem;
  
  @include grid-media-min('md') {
    padding: 1.2rem 2rem 1.5rem 2rem;
  }

  &::after {
    margin-left: 1rem;

    @include grid-media-min('md') {
      margin-left: 2rem;
    }
  }

  &.su-link--external {
    &::after {
      height: 12px;
      width: 12px;
    }
  }
  
  &:not(.su-link--external) {
    &::after {
      content: "";
      background: $thub-right-arrow-black-sm;
      height: 18px;
      width: 23px;
      top: 4px;
      display: inline-block;
      position: relative;

      @include grid-media-min('md') {
        top: 0;
        background: $thub-right-arrow-black-md;
      }
    }

    &:hover,
    &:focus,
    &:active {
      &::after {
        background: $thub-right-arrow-white-sm;

        @include grid-media-min('md') {
          background: $thub-right-arrow-white-md;
        }
      }

      &.mailto {
        svg {
          fill: $su-color-white;
        }
      }
    }

    &.mailto {
      svg {
        margin-left: 1rem;

        @include grid-media-min('md') {
          margin-left: 2rem;
        }
      }
    }

    &.mailto,
    &.simplesamlphp-auth-login-link,
    &.samlauth-login {
      &::after {
        content: none;
      }
    }

  }
}

@mixin thub-button--big {
  @include thub-button--gradient;

  font-size: 2.1rem;
  padding: 1.1rem 3rem 1.4rem 3rem;

  @include grid-media-min('md') {
    font-size: 2.4rem;
    padding: 1.6rem 3.5rem 1.9rem 3.5rem;
  }

  &::after {
    margin-left: 1rem;

    @include grid-media-min('md') {
      margin-left: 2rem;
    }
  }

  &:not(.su-link--external) {
    &::after {
      content: "";
      background: $thub-right-arrow-black-sm;
      height: 16px;
      width: 23px;
      top: 2px;
      display: inline-block;
      position: relative;
      
      @include grid-media-min('md') {
        height: 20px;
        background: $thub-right-arrow-black-md;
      }
    }
    
    &:hover,
    &:focus,
    &:active {
      &::after {
        background: $thub-right-arrow-white-sm;

        @include grid-media-min('md') {
          background: $thub-right-arrow-white-md;
        }
      }

      &.mailto {
        svg {
          fill: $su-color-white;
        }
      }
    }

    &.mailto {
      svg {
        margin-left: 1rem;

        @include grid-media-min('md') {
          margin-left: 2rem;
        }
      }

      &::after {
        content: none;
      }
    }
  }
}

@mixin thub-button--secondary {
  color: $su-color-black;
  border-radius: 6px;
  font-weight: 600;
  background-color: $thub-color-ochre-light;
  box-shadow: inset 0 0 0 2px $thub-color-ochre-light;
  padding: 1rem 2rem 1.2rem 2rem;

  @include grid-media-min('md') {
    padding: 1.2rem 2rem 1.5rem 2rem;
  }

  &::after {
    margin-left: 1rem;

    @include grid-media-min('md') {
      margin-left: 2rem;
    }
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $su-color-white;
    box-shadow: inset 0 0 0 2px $thub-color-ochre-light;
    text-decoration: none;
  }

  &:not(.su-link--external) {
    &::after {
      content: "";
      background: $thub-right-arrow-black-sm;
      height: 18px;
      width: 23px;
      top: 4px;
      display: inline-block;
      position: relative;
      
      @include grid-media-min('md') {
        top: 0;
        background: $thub-right-arrow-black-md;
      }
    }
  }

  &.mailto {
    &::after {
      content: none;
    }
  }
}
