@charset "UTF-8";
  
h1 {
  @include thub-heading--badge;
  @include thub-type-a;
}

h2 {
  @include thub-type-c;
}

h3 {
  @include thub-type-d;
}

h4 {
  @include thub-type-e;
}

h5 {
  @include thub-type-f;
}

// Overide for Stanford Basic's
// headings with a link.
[class^="su-type"],
h1,
h2,
h3,
h4,
h5 {
  a {
    font-weight: 500;
  }
}

a.su-link--external {
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}
