@charset "UTF-8";

.su-local-footer {
  @include responsive-spacing('margin-top', 6);

  background-color: $su-color-white;

  .su-local-footer__columns,
  .su-local-footer__header {
    max-width: none;
  }

  .thub-gradient-divider {
    width: calc(100% - 200px);
    margin: 0 auto;
    background: $thub-gradient-lagunita-to-ochre-to-red;
    height: 3px;
    border-radius: 1.5px;

    @include grid-media-max('sm') {
      width: calc(100% - 40px);
    }

    @include grid-media('md') {
      width: calc(100% - 100px);
    }

    @include grid-media-min('lg') {
      width: calc(100% - 160px);
    }

    @include grid-media-min('xl') {
      width: calc(100% - 200px);
    }
  }


  .su-local-footer__header {
    .su-link--internal {
      @include thub-button--gradient;

      border: none;

      &::after {
        background-color: $su-color-black;
      }

      &:hover,
      &:focus,
      &:active {
        &::after {
          background-color: $su-color-white;
        }
      }
    }
  }

  .su-local-footer__columns {
    @include responsive-spacing('padding-top', 7);

    padding-bottom: 0;

    @include grid-media-min('lg') {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "A B C";
    }

    @include grid-media-min('xl') {
      grid-template-columns: 4fr 5fr 3fr;
    }

    .su-local-footer__cell1,
    .su-local-footer__cell2,
    .su-local-footer__cell3 {
      @include responsive-spacing('margin-bottom', 9);
    }

    .su-local-footer__cell2 {
      padding: 0;

      nav {
        max-width: 100%;
        min-width: 100%;
        margin-left: 0;
      }
    }

    .su-local-footer__list-heading {
      @include slab;

      font-weight: $su-font-regular;
    }
  }

  .su-local-footer__action-links,
  .su-local-footer__address {
    @include responsive-spacing('padding-bottom', 4);
  }

  p.address {
    font-size: 1.8rem;
    line-height: 140%;
    margin-bottom: 0;

    .organization {
      @include thub-type-e;

      display: block;
    }
  }

  .su-local-footer__primary-links,
  .su-local-footer__secondary-links {
    li {
      margin: 0;

      &:not(:first-child) {
        &::before {
          content: "";
          background: $thub-gradient-lagunita-to-ochre-to-red;
          display: block;
          height: 3px;
          border-radius: 1.5px;
          margin: 1.8rem 0;
        }
      }
    }

    a {
      @include thub-type-e;
      @include responsive-spacing('margin-left', 2);
      @include responsive-spacing('margin-right', 2);

      color: $su-color-black;
      margin-left: 3.8rem;

      &:hover,
      &:focus,
      &:active {
        color: $thub-color-ochre-dark;
      }
    }
  }

  .su-wysiwyg-text {
    @include responsive-spacing('margin-top', 4);

    h2 {
      @include thub-type-d;

      @include grid-media-min('md') {
        @include thub-type-c;
      }
    }

    h3 {
      @include thub-type-d;
    }

    h4 {
      @include thub-type-e;
    }

    h5 {
      @include thub-type-f;
    }
  }

  .su-signup-form {
    #signup-email {
      padding: 1.6rem 2.2rem 1.8rem 2.2rem;
      border-radius: 6px;
      min-height: 5.7rem;
      margin-bottom: 1.2rem;
      margin-top: 1.8rem;
    }

    .su-wysiwyg-text {
      margin: 0;

      h2 {
        @include thub-type-e;
      }
    }
  }
}
