@charset "UTF-8";

// contextual-region ds-entity--node ds-entity--stanford-person
// contextual-region ds-entity--node ds-entity--stanford-page

// Card layout.
// The problem is that the width is set up the dom from where the class on what entity type it is.
.layout--layout-paragraphs-one-column .paragraph--type--stanford-entity .su-entity-item > div,
.layout--layout-paragraphs-one-column .ptype-stanford-entity .su-entity-item > div,
.layout--layout-paragraphs-one-column .stanford-shared-tags .su-entity-item > div,
.paragraph--type--stanford-entity[data-react-columns="12"] .su-entity-item > div,
.ptype-stanford-entity[data-react-columns="12"] .su-entity-item > div,
 .stanford-shared-tags[data-react-columns="12"] .su-entity-item > div {
    margin: 0;
    width: calc(50% - 40px);
  }


.ptype-stanford-entity,
.paragraph--type--stanford-entity {

    // Card display
    .ds-entity--stanford-page {
        .su-card {
        border: none;
        box-shadow: none;

            section.su-card__contents {
                h2,
                h3 {
                    a {
                        @include thub-type-d;
                        @include link-icon(arrow-right, 18px, right);

                        background: $thub-gradient-lagunita-to-ochre;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        &::after {
                            background-color: $thub-color-ochre-dark;
                        }

                        &:hover,
                        &:focus,
                        &:active {
                        background: $thub-color-black;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                            &::after {
                                background-color: $thub-color-black;
                            }
                        }
                    }
                }
            }
        }
    }
}
