@charset "UTF-8";

// contextual-region ds-entity--node ds-entity--stanford-person
// contextual-region ds-entity--node ds-entity--stanford-page

// Card layout.
// The problem is that the width is set up the dom from where the class on what entity type it is.
// .layout--layout-paragraphs-one-column .paragraph--type--stanford-entity .su-entity-item > div {
//     margin: 0;
//     width: unset;
// }

.ptype-stanford-entity,
.paragraph--type--stanford-entity {

    // Card display
    .ds-entity--stanford-page {
        .su-card {
            border: none;
            box-shadow: none;

            section.su-card__contents {
                padding: 4rem 0 0 0;

                h2,
                h3 {
                    a {
                        @include thub-type-d;
                        @include link-icon(arrow-right, 18px, right);

                        background: $thub-gradient-lagunita-to-ochre;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        &::after {
                            background-color: $thub-color-ochre-dark;
                        }

                        &:hover,
                        &:focus,
                        &:active {
                        background: $thub-color-black;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                            &::after {
                                background-color: $thub-color-black;
                            }
                        }
                    }
                }
            }
        }
    }
}
