@charset "UTF-8";

.ptype-stanford-entity,
.paragraph--type--stanford-entity {

  .ds-entity--stanford-person {
    max-width: 400px;

    .su-card {
      border: none;
      box-shadow: none;

      .su-person-photo {
        padding: 0 0 0 7rem;
      }

      .su-person-photo img,
      .su-person-photo picture {
        border-radius: 0;
      }

      .su-card__contents {
        font-size: 2rem;
        padding: 2rem 3rem 3.2rem 3.2rem;
        text-align: left;

        h2,
        h3 {
          a {
            @include thub-type-d;

            background: $thub-gradient-lagunita-to-ochre;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &:hover,
            &:focus,
            &:active {
              background:  $thub-color-ochre-dark;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }
}
