@charset "UTF-8";

// override default button styles here and add additional button classes as needed.

#back-to-top {
  @include thub-button--gradient;

  position: fixed;
}

main,
footer {
  .su-button,
  .su-button.su-button.su-link,
  .stanford-news-vertical-teaser-term .more-link a,
  .node.event .more-link a,
  .system-main-block form .su-button:hover {
    @include thub-button;
  }

  .su-button--big,
  .su-button--big.su-link {
    @include thub-button--big;
  }

  .su-button--secondary,
  .su-button--secondary.su-link {
    @include thub-button--secondary;
  }

}

// Override conflicting styles
a {
  &.su-link--external {
    &.su-button,
    &.su-button--big,
    &.su-button--secondary {
      &::after {
        background-color: $su-color-black;
      }
    }
  }

  &.mailto {
    &.su-button,
    &.su-button--big {
      &:hover,
      &:active,
      &:focus {
        color: $su-color-white;
      }
    }

    &.su-button,
    &.su-button--big,
    &.su-button--secondary {
      svg {
        fill: $su-color-black;
      }
    }
  }
}

.filter-menu {
  .topics__collapsable-menu {
    box-shadow: none;
    border-radius: 0;

    &:focus {
      background: none;
    }
  }
}

.su-events-details {
  .su-event-cta {
    &.su-button {
      a {
        &::after {
          display: none;
        }
        
        color: unset;
  
        &:hover {
          background-color: unset;
        }
      }
    }
  }
}
